body {
    background-color: #222831;
    font-family: "Spinnaker", sans-serif;
    color: #d65a31;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand img {
    max-height: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: #d65a31;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #d65a31 !important;
}

.btn-login {
    background-color: #d65a31;
    color: #ffffff;
}

.btn-login:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;
}

.btn-navbar-right {
    /* margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important; */
    height: 40px;
    border-radius: 2rem;
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    tranform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
        center,
        ellipse,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0) 80%
    );
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0) 80%
    );

    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
  }
  .hoverable:hover:before,
  .hoverable:active:before,
  .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
    color: white;
}
/* @media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
} */
/* nav {
  background: none !important;
  text-transform:uppercase;
  
}
nav li {
    margin-left: 3em;
    margin-right: 3em;
}
nav li a {
  transition: .5s color ease-in-out;
} */
/* .page-title {
  opacity: .75 !important;
} */

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}

header {
    padding: 180px 0 165px;
    background-image: url("../images/header1.jpg");
    background-size: cover;
    margin-top: -110px;
}

header h1,
header p {
    color: #ffffff;
}

header h1 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: 50px;
}

header p {
    font-size: 22px;
}

header .btn-get-started {
    background-color: #d65a31;
    color: #ffffff;
}

header .btn-get-started:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;
}

.section-stats {
    margin-top: -50px;
}

.section-stats .stats-detail {
    padding-top: 15px;
    background-color: #222831;
    padding-left: 40px;
}

.section-stats h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.section-stats p {
    font-size: 20px;
    font-weight: lighter;
}

.section-popular {
    min-height: 540px;
    background-color: #222831;
    margin-top: -50px;
    margin-bottom: -250px;
}

.section-popular .section-popular-heading {
    margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
    color: #ffffff;
}

.section-popular .section-popular-heading h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-popular .section-popular-heading p {
    margin-top: 20px;
    font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
    margin-top: 70px;
    min-height: 380px;
    background-color: #ddd;
    color: #ffffff;
    padding: 30px;
    background-size: cover;
    margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
    font-size: 18px;
    color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
    font-size: 26px;
    color: #ffffff;
}

.section-popular-content
    .section-popular-travel
    .travel-button
    .btn-travel-details {
    background-color: #d65a31;
    color: #ffffff;
}

.section-popular-content
    .section-popular-travel
    .travel-button
    .btn-travel-details:hover {
        background-color: transparent;
        color: #d65a31;
        border: 2px solid #d65a31;
}

.section-networks {
    background-color: #222831;
    margin-top: -220px;
    padding-top: 290px;
    padding-bottom: 50px;
}

.section-networks h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-networks p {
    font-size: 18px;
}

.section-networks img {
    max-width: 100%;
}

.section-testimonial-heading {
    background: #222831;
    padding-top: 50px;
    min-height: 506px;
}

.section-testimonial-heading h2 {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-testimonial-heading p {
    font-size: 18px;
}

.section-testimonial-content {
    margin-top: -260px;
    padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
    min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
    font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
    font-weight: 200;
    font-size: 26px;
    color: rgba(9, 31, 81, 0.53);
    min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
    font-weight: normal;
    font-size: 22px;
    color: rgba(9, 31, 81, 0.53);
}

.section-testimonial-content .card-testimonial hr {
    margin-right: -20px;
    margin-left: -20px;
}

.section-testimonial-content .btn-get-started {
    background-color: #d65a31;
    color: #ffffff;
}

.section-testimonial-content .btn-get-started:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;;
}

.section-testimonial-content .btn-need-help {
    background-color: #f2efeb;
    color: #9f9f9f;
}

.section-testimonial-content .btn-need-help:hover {
    background-color: #fafafa;
    color: #9f9f9f;
}

.section-footer a {
    color: #d65a31;
    font-size: 18px;
}

.section-footer h5 {
    font-size: 22px;
    font-weight: 600;
}

.section-details-header {
    min-height: 270px;
    background-color: transparent;
    
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
}

.section-details-content .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
    font-weight: bold;
    color: #d65a31;
}

.section-details-content .card-details {
    padding: 30px;
    border-radius: 11px;
    background: #393e46;
}

.section-details-content .card-details h1 {
    font-size: 26px;
}

.section-details-content .card-details h2 {
    font-size: 20px;
}

.section-details-content .card-details p {
    font-size: 18px;
    color: #b1b1b1;
}

.section-details-content .card-details h3 {
    font-weight: 300;
    font-size: 14px;
    color: #d65a31;
}

.section-details-content .card-details .attendee img {
    max-width: 60px;
    max-height: 60px;
}

.section-details-content .card-details .attendee td {
    color: #A9AAAE;
}

.section-details-content .card-details .trip-informations th {
    font-weight: 300;
    font-size: 18px;
    color: #d65a31;
}

.section-details-content .card-details .trip-informations td {
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
    color: #d65a31;
    font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
    color: #d65a31;
    font-weight: bold;
}

.section-details-content .card-details .payment-instruction {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
    font-weight: 600;
    font-size: 16px;
    color: #d65a31;
    margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
    margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
    font-weight: normal;
    font-size: 14px;
    color: #A9AAAE;
}

.section-details-content .card-details .bank .bank-image {
    width: 45px;
    height: 45px;
    float: left;
}

.section-details-content .card-details .disclaimer {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
    border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
    padding-right: 30px;
}

.section-details-content .card-details .gj-datepicker .input-group-append img {
    max-width: 18px;
    max-height: 18px;
}

.section-details-content .card-details .btn-add-now {
    background-color: #d65a31;
    color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
    background-color: inherit;
}

.section-details-content .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.section-details-content .features {
    margin-top: 20px;
}

.section-details-content .features h3 {
    font-size: 18px;
    color: #d65a31;
    margin-bottom: 0;
}

.section-details-content .features p {
    margin-bottom: 0;
}

.section-details-content .features .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

.section-details-content .features .features-image {
    width: 45px;
    height: 45px;
    float: left;
}

.section-details-content .gallery .xzoom-container {
    display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
    border: 4px solid #1abc9c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.section-details-content .member .member-image {
    width: 40px;
    height: 40px;
}

.section-details-content .join-container {
    margin-top: -16px;
}

.section-details-content .btn-join-now {
    background-color: #d65a31;
    color: #ffffff;
    border-radius: 0;
}

.section-details-content .btn-join-now:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;
}

.section-success {
    height: 90vh;
}

.section-success h1 {
    font-weight: 600;
    font-size: 26px;
    color: #d65a31;
}

.section-success p {
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.section-success .btn-home-page {
    border-radius: 4px;
    background-color: #d65a31;
    color: #fff;
}

.section-success .btn-home-page:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;
}

@media (min-width: 992px) {
    .login-container {
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(60%, #fff),
            color-stop(40%, #393e46)
        );
        background: linear-gradient(90deg, #fff 60%, #393e46 40%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;
}

.page-login .btn-login {
    background-color: #fbb264;
    color: #ffffff;
}

.page-login .btn-login:hover {
    background-color: transparent;
    color: #d65a31;
    border: 2px solid #d65a31;
}

.page-login .section-left h1 {
    font-family: "Darker Grotesque";
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #07173a;
}

.page-login .section-right a {
    font-family: Assistant;
    font-weight: 300;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
    color: #b7b7b7;
}

.page-login .section-right .form-check-input {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #393e46;
}
/*# sourceMappingURL=main.css.map */
